@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Roboto+Condensed:ital,wght@0,300;1,400&display=swap');

* { 
 margin: 0;
 padding: 0;
 border: none;

}
body {
    font-family: Lora, abril;
    font-weight: 400;  
    color: black;
}

/* heading and logo */

h1, h2 { 
    font-family: Roboto condensed, Din;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: black;
}

#logo  {
    float: left;
    font-size: 300%;
    
    
}

body {
    background-color: bisque;
}

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 2px;
}



#menu, #logo {
    line-height: 80px;
}
#menu li {

    float: right;
    list-style-type: none;
    margin-right: 30px


}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid black;
}
.active {

    border-bottom: 2px solid black;
}

/* hero image */

#hero-image {
    height: 700px;
    width: 100%;
    background: url('../css/images/hero-image.webp') no-repeat center center;
}

/* treatment ethos */

.left-about-heading {
    padding: 50px;
    width: 50%;
    float: left;

}

hr {
    border-bottom: 2px solid black; 
    width: 56%;
    margin: 1px 0; 
}



table, th, td {
    padding: 0px;
    letter-spacing: 1px;

}