@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Roboto+Condensed:ital,wght@0,300;1,400&display=swap');

* { 
 margin: 0;
 padding: 0;
 border: none;

}
body {
    font-family: Lora, abril;
    font-weight: 400;  
    color: black;
}

/* heading and logo */

h1, h2 { 
    font-family: Roboto condensed, Din;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: black;
}

#logo  {
    float: left;
    font-size: 300%;
    
    
}

body {
    background-color: bisque;
}